body {
    font-family: 'NanumSquareNeo';
    color: #3e3e39;
}
* {
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
/* index */

#indexLoadImg {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.indexImg {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
/* home */
.home_header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.home_logo {
    display: block;
    width: 15%;
}
/* home */
.btn_area li {
    margin: 0 2rem 1.5rem;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 2rem;
    border-radius: 1rem;
}
.btn1 {
    background: #66A047;
}
.btn2 {
    background: #FF7155;
}
.btn3 {
    background: #523E9B;
}
.btn4 {
    background: #FFBD54;
}
.btn5 {
    background: #C95B63;
}
.btn_text {
    width: 100%;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
}
.btn i {
    display: flex;justify-content: space-between;
    width: 1.5rem; height: 1.5rem;
    background: url(../img/arrow.png) no-repeat center/contain;
}
/* freely */
.inner {
    margin-bottom: 3rem;
}
#app {
    position: relative;
    min-height: 100vh;
}
.rouletter {
    width: 100%;
    min-height: 100vh;
    padding: 0 2rem;
}
.rouletter-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;height: 100vh;
    overflow: hidden;
    z-index: 50;
}
.rouletter-wacu {
    width: 100%;
    height: 100%;
    background: url(../img/roulette.png) no-repeat center/contain;
    /* transition-timing-function: ease-in-out;
    transition: 2s; */
}
.rouletter-arrow {
    position: absolute;
    top: 25%; left: 50%;
    width: 1rem; height: 1rem;
    background: url(../img/pin.png) no-repeat center/contain;
}
.roulett-btn {
    position: absolute;
    left: 0; bottom: 0;
    /* transform: translateX(-50%); */
    display: flex;
    width: 89%;
    justify-content: center;
    align-items: center; 
    border: 1px solid #CFCFCF;
    margin: 0 2rem;
    border-radius: 1rem;
    text-align: center;
    z-index: 50;
}
.rouletter-btn {
    /* width: 100%; */
    padding: 1rem 0;
    border-radius: 1.5rem;
    font-size: 2.5rem;
    font-weight: 900;
}
.rouletter-btn i {
    background: url(../img/btn-deco.png) no-repeat center/contain;
    display: inline-block;
    width: 2.5rem; height: 2.5rem;
    margin-left: .7rem;
}
.hidden-input {
    display: none;
}
/* canvas */
.roulette_area {
    
    z-index: 1;
    position: absolute;
    top: 28%; left: 13%;
    width: 28rem;
    height: 28rem;
}
.roulette {
    border: 1px solid #aaa;
    border-radius: 100%;
    width: 25rem;
    height: 25rem;
    transition-timing-function: ease-in-out;
    transition: 2s;
    background: conic-gradient(
        #FF6347 0deg,
        #FF6347 72deg,

        #FFD700 72deg,
        #FFD700 144deg,

        #7FFF00 144deg,
        #7FFF00 216deg,

        #4682B4 216deg,
        #4682B4 288deg,

        #BA55D3 288deg,
        #BA55D3 360deg,

        #FF6347 360deg
    );
    /* transform: rotate(100deg); */
    display: flex;justify-content: center;align-items: center;
}
.input_wrap {
    border-radius: 100%;
    width: 60%;
    height: 60%;
    position: relative;
}
input {
    font-size: 1.2rem;
    width: 4rem;
    transform: translate(-50%, -50%);
}

.buttons {
    position: absolute;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    margin: 0 10px;
    font-size: 1rem;
}